@charset "utf-8";

/*-------------------  common -------------------*/

html {
  width: 100vw;
}
body {
	font-family: cursive;
	width: 100vw;
	font-size: 14px;
}


/*------------------- スマホ版でのメニュー表示 ----------------*/
@media(max-width:420px) {
  .pc-gnav{
    display: none;
  }
  
  .m-menu {
    position: fixed;
    padding: 0 10px;
    font-size: 32px;
    line-height: 30px;
    cursor: pointer;
    top: -30px;
    left: 0px;
    background: #fff;
    outline: 1px solid black;
  }

  .m-menu #open.hide {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    z-index: 100;
  }
  
  .overlay.show{
    opacity: 1;
    pointer-events: auto;
    width: 100vw;
  }
  
  .overlay m-menu {
    padding: 5px 5px;
  }
  
  .overlay #close {
    position: absolute;
    top: -34px;
    left: 6px;
    font-size: 32px;
    cursor: pointer;
  }
  
  .overlay ul {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 85px;
  }
  
  .overlay li {
    margin-top: 24px;
    padding: 5px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
    text-align: center;
  }
  
  .overlay.show li {
    opacity: 1;
    transform: none;
  }
  
  .overlay ul li a {
    text-decoration: none;
    color: #007700;
  }

  .overlay a:hover {
    border-bottom: solid 2px #007700;
    transform: 0.3s;
  }
  
  
  .gnav2 li li ul {
    overflow: hidden ;
    transition: 0.5s;
  }
  
  .gnavav2 li li link:hover > li > a {
    overflow: visible;
    margin: 0;
  }
}

/* --------------PC版画面でのメニュー表示 ------------*/
@media (min-width:501px){
  .m-menu{
    display: none;
  }
  
  .overlay {
    display: none;
  }
  
  .pc-gnav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.9;
    z-index: 100;
  }
  
  .pc-gnav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pc-gnav li ul {
    flex-direction: column !important;
    height: 0;
  }
  
  .pc-gnav a {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    color: #007700;
    
  }
  
  .pc-gnav a:hover {
    background: #007700;
    color: #fff;
    text-decoration: none;
  }
  
/* pc版ドロップダウンメニュー */
  
  .pc-gnav li li {
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
    background: #EEEEEE !important;
  }
  
  .pc-gnav li:hover > ul > li{
    background: white;
    overflow: visible;
  }

}

/*---------- Top画面のスライドアニメーション -----------*/
div #wrapper {
  text-align: center;
  width: 500px;
}

div #slider {
  width: 400px;
  height: 240px;
  margin: 0 auto;
}

div #slider {
  position: relative;
  overflow: hidden;
}

#slider img {
  position: absolute;
  top: 0;
  border: 0;
  width: 390px;
  height: 240px;
  border-radius: 15px;
}

/*---------- Top画面のテキストアニメーション -----------*/

#txt_animation {
  margin-top: 50px;
  height: 110px;
  text-align: center;
}


.first, .second {
  color: #006600;
  font-size: 25px;
}

.second {
  margin-top: 30px;
}

.town {
  width: 350px;
  height: 160px;
  margin-top: 30px;
  opacity: 0.8;
}

/*--------- それぞれのコンテンツに共通するものについて ---------------*/

/* ナビをクリックしたときの位置調整 */
.contents {
  padding-top: 90px;
}

.content {
  padding-top: 100px;
  margin-top: -100px;

  /* 最初は非表示 */
  /*opacity: 0;*/
  /*visibility: hidden;*/
  /*transform: translate(0, 40px);*/
  /*transition: opacity 1s, visibility 1s, transform 1s;*/
}

/* jQueryで各contentクラスの要素をフェードインさせるためのクラス*/
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

/* 文字の位置や大きさについて */
.position {
  text-align: center;
}

.h {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

/*--------------------  このサイトについて  ---------------------*/
#site {
  margin-top: 10px;
  margin-bottom: 170px;
  
}

#hs {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.coffee {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 0 10px #444444;
}


/*--------------------　自分について　---------------------*/
#me {
  margin-bottom: 250px;
}

.hm {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.myface {
  width: 100px;
  height: 120px;
  margin-bottom: 30px;
}

#git {
  font-weight: bold;
}

.box {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes move{
  0% {
    background: #007700;
  }
  
  50% {
    background: #1E90FF;
    transform: rotate(1080deg);
  }
  
  75% {
    background: #FFD700;
  }
  
  100% { 
    background-color: #FF0000;
    border-radius: 70%;
  }
}

/* boxをクリックしてGitHubへアクセス */
a .box:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*--------------------　ポートフォリオサイトについて　---------------------*/

#works {
  margin-bottom: 200px;
}

#works p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
}

.object{
  width: 300px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444444;
}

/* モーダルウィンドウ */

#works img.object:hover {
  cursor: pointer;
  opacity: 0.8;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

#mask.hidden {
  display: none;
}

#modal {
  background: #fff;
  width: 370px;
  padding: 40px 20px;
  border-radius: 10px;
  position: fixed;
  top: 180px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.6s;
  z-index: 300;
}

#modal.hidden {
  transform: translate(0, -1000px);
}

#modal a {
  text-decoration: none;
  color: #007700;
}

#modal a:hover {
  border-bottom: 2px solid #007700;
}

#close_2 {
  cursor: pointer;
  width: 100px;
  padding: 10px 10px;
  border: 2px solid #005500;
  margin: 40px auto 0;
  border-radius: 4px;
}

#close_2:hover {
  color: #fff;
  background: #007700;
}


/*--------------------　自分のスキルについて　---------------------*/
#skill {
  margin-bottom: 180px;
}

#skill .tech {
  width: 390px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444444;
}

#skill p {
  font-weight: bold;
  font-size: 14px;
}

/*--------------------　プロフィールについて　---------------------*/
#profile {
  margin-bottom: 150px;
}

.road {
  width: 350px;
  height: 200px;
  box-shadow: 0 0 10px #444444;
  margin: 30px 0 50px 0;
  
}

/*--------------------　趣味について　---------------------*/
#hobby {
  margin-bottom: 150px;
}

#fadein_fadeout img {
  width: 370px;
  height: 280px;
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #444444;
  border-radius: 20px;
}

/*--------------------　連絡先について　---------------------*/
.hw {
  font-weight: bold;
  font-size: large;
  font-size: 30px;
}

.mail {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 35px
}

#contact form {
  margin-top: 40px;
}

#contact input {
  all: unset;
  border-bottom: 1px solid #aaa;
  width: 250px;
  margin: 10px;
}

#contact form p {
  margin-top: 50px;
  font-size: large;
}

form textarea {
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
}

#btn {
  margin: 50px;
  padding: 8px 20px;
  color: #FFF;
  background-color: gray;
  border-radius: 3px;
  font-weight: 14px;
}

#btn:hover {
  color: #fff;
  background-color: #008000;
}

/*------------------ クリックしたら Top画面に戻る部分---------------------*/
#back {
  line-height: 80px;
  
  background: #99CC00;
  width: 100%;
}

span.material-icons {
  margin-top: 40px;
}

#back a span.material-icons {
  font-size: 50px;
  text-decoration: none;
  color: #008000;
}

#back span.material-icons a:hover {
  cursor: pointer;
  opacity: 0.5;
}

#back p {
  padding-bottom: 50px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

/*------------------ footer ---------------------*/
footer {
    clear: both;
    padding: 6px 0;
    width: 100%;
    background: #005500;
    color: white;
    color: #fff;
    text-align: center;
}
