@charset "utf-8";

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: center;
	margin: 0;
}

/*------------------ header---------------------*/

header {
    position: fixed;
    padding: 10px 10px;
    background-color: white;
    outline: solid 1px black;
}

.pc-gnav{
  display: none;
}

/* PCでのメニュー表示 */
@media screen and (min-width:701px) and (max-width:1024px) {

  .m-menu {
      top: 0px;
      right: 0px;
  }
  
  .m-menu {
    font-size: 32px;
    line-height: 60px;
    cursor: pointer;
  }
  
  .m-menu #open.hide {
    display: none;
  }
  
}

/*------------------ nav ---------------------*/
/*--- スマホ版(画面が小さい場合) ---*/
.overlay {
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.overlay.show{
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a:hover {
  background: #007700;
  color: white;
}

/*---スマホ版ドロップダウンメニュー ---*/

.gnav2 li li {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.gnavav2 li link:hover > li > a {
  overflow: visible;
  margin: 0;
}

/* --------------スマホ画面幅でのメニュー表示 ------------*/

@media(min-width: 700px) {
  .m-menu{
    display: none;
  }
  
  .pc-gnav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    opacity: 0.90;
  }

  .pc-gnav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pc-gnav li ul {
    flex-direction: column !important;
    height: 0;
  }
  
  
  .pc-gnav a {
    display: block;
    margin: auto;
    padding: 20px 20px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
  }

  .pc-gnav a:hover {
    background: #007700;
    color: white;
    text-decoration: none;
  }
  
/*---pc版ドロップダウンメニュー---*/

.pc-gnav li li {
  height: 60px;
  overflow: hidden;
  transition: 0.5s;
background: #EEEEEE !important;
}

.pc-gnav li:hover > ul > li{
  background: white;
  overflow: visible;
}

}

/*------------------ main1(博多の風景、Welcome文) ---------------------*/

#txt_animation{
  height: 300px;
}

.hakata {
    width: 700px;
    height: 400px;
    display: inline-block;
    margin-top: 130px;
    margin-bottom: 25px;
}

.first, .second {
  text-align: center;
  color: #006600;
}


/*--------- それぞれのコンテンツの見出しの文字 ---------------*/
.h {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}

/*--------------------  このサイトについて  ---------------------*/
#site {
  margin-bottom: 150px;
}

#hs {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
}

.coffee {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 0 10px #444444;
}

/*--------------------　自分について　---------------------*/
#me {
  margin-bottom: 180px;
}

.hm {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
}

.footprint {
  width: 200px;
  height: 150px;
  box-shadow: 0 0 10px #444444;
  border-radius: 60%;
  margin-top: 30px;
}



/*------------------ クリックしたら Top画面に戻る部分---------------------*/

#back {
  margin-top: 30px;
  line-height: 80px;
  background: #99CC00;
  width: 100%;
}

#back p {
  padding-bottom: 20px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}


/*------------------ footer ---------------------*/
footer {
    clear: both;
    padding: 6px 0;
    width: 100%;
    background: #005500;
    color: white;
    color: #fff;
    text-align: center;
}
