@charset "utf-8";

/*-------------------  common -------------------*/

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: center;
}

/*------------------- スマホ版でのメニュー表示 ----------------*/
@media(max-width:600px) {
  .pc-gnav{
    display: none;
  }
  
  .m-menu {
    position: fixed;
  }
  
  .m-menu {
    font-size: 32px;
    line-height: 30px;
    cursor: pointer;
  }

  .m-menu #open.hide {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
  }
  
  .overlay.show{
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay m-menu {
    padding: 5px 5px;
  }
  
  .overlay #close {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 32px;
    cursor: pointer;
  }
  
  .overlay ul {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .overlay li {
    margin-top: 24px;
    padding: 5px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
    text-align: center;
  }
  
  .overlay.show li {
    opacity: 1;
    transform: none;
  }
  .overlay ul li a {
    text-decoration: none;
    color: #007700;
  }

  .overlay a:hover {
    border-bottom: solid 2px #007700;
    transform: 0.3s;
  }
  
  
  .gnav2 li li ul {
    overflow: hidden ;
    transition: 0.5s;
  }
  
  .gnavav2 li li link:hover > li > a {
    overflow: visible;
    margin: 0;
  }
}

/* --------------PC版画面でのメニュー表示 ------------*/
@media (min-width:601px){
  .m-menu{
    display: none;
  }
  
  .overlay {
    display: none;
  }
  
  .pc-gnav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    opacity: 0.9;
  }
  
  .pc-gnav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  
  .pc-gnav li ul {
    flex-direction: column !important;
    height: 0;
  }
  
  .pc-gnav a {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    color: #007700;
  }
  
  .pc-gnav a:hover {
    background: #007700;
    color: white;
    text-decoration: none;
  }
  
/* pc版ドロップダウンメニュー */
  
  .pc-gnav li li {
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
    background: #EEEEEE !important;
  }
  
  .pc-gnav li:hover > ul > li{
    background: white;
    overflow: visible;
  }

}

/*------------------ main1(博多の風景、Welcome文) ---------------------*/
#txt_animation {
  margin-top: 30px;
  height: 300px;
}

.hakata {
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: 130px;
    margin-bottom: 25px;
}

.first, .second {
  text-align: center;
  color: #006600;
}

.second {
  margin-top: 30px;
}

/*--------- それぞれのコンテンツの見出しの文字 ---------------*/
.h {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}

/*--------------------  このサイトについて  ---------------------*/
#site {
  margin: 150px 0;
}

#hs {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
}

.coffee {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 0 10px #444444;
}

/*--------------------　自分について　---------------------*/
#me {
  margin-bottom: 180px;
}

.hm {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
}

/*--------------------　ポートフォリオサイトについて　---------------------*/

#works {
  margin-bottom: 150px;
}

#works p {
  font-weight: bold;
  font-size: large;
  margin-top: 30px;
  
}
.object{
  width: 400px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px #444444;
}

#works a:hover{
  cursor: pointer;
  opacity: 0.8;
}

/*--------------------　自分のスキルについて　---------------------*/
#skill {
  margin-bottom: 150px;
}

#skill .tech {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #444444;
}

#skill p {
  font-weight: bold;
  font-size: large;
}

/*--------------------　プロフィールについて　---------------------*/
#profile {
  margin-bottom: 150px;
}

.road {
  margin-bottom: 30px;
}

/*--------------------　趣味について　---------------------*/
#hobby {
  margin-bottom: 150px;
}

.cook {
  width: 450px;
  height: 300px;
  margin-top: 30px;
}

/*--------------------　連絡先について　---------------------*/
.hw {
  font-weight: bold;
  font-size: large;
  font-size: 36px;
}

.mail {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 30px
}

#contact form {
  margin: 30px 0;
}
#contact input {
  margin: 30px 0;
  all: unset;
  border-bottom: 1px solid #aaa;
  width: 500px;
}

#btn {
  margin: 30px 0;
}

/*------------------ クリックしたら Top画面に戻る部分---------------------*/
#back {
  line-height: 80px;
  background: #99CC00;
  width: 100%;
}

span.material-icons {
  margin-top: 40px;
}

#back span.material-icons a {
  font-size: 50px;
  text-decoration: none;
  color: #005500;
}

#back span.material-icons a:hover {
  cursor: pointer;
  opacity: 0.5;
}

#back p {
  padding-bottom: 50px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

/*------------------ footer ---------------------*/
footer {
    clear: both;
    padding: 6px 0;
    width: 100%;
    background: #005500;
    color: white;
    color: #fff;
    text-align: center;
}
